.u-block-e68a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e68a-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-e68a-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Adsztasarm1.png");
  background-position: 50% 0%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 361px 14px 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Adsztasarm3.png");
  background-position: 50% 31.38%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 540px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-video-1 {
  min-height: 540px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-video-2 {
  min-height: 540px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-2 {
    min-height: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-video-2 {
    min-height: 341px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1080px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-2 {
    min-height: 512px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 880px;
  }

  .u-section-2 .u-video-2 {
    min-height: 322px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 232px;
}

.u-section-3 .u-custom-html-1 {
  margin: 0 auto;
}

.u-section-3 .u-custom-html-2 {
  margin: 28px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px auto 0 94px;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -134px auto 0 269px;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -134px 445px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -134px 68px 49px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 69px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 245px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 710px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 366px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 287px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  width: 180px;
  margin: 26px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 287px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  width: 180px;
  margin: 26px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  height: 287px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  width: 180px;
  margin: 26px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  height: 287px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  width: 180px;
  font-weight: normal;
  margin: 26px auto 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-4 .u-image-1 {
    height: 237px;
  }

  .u-section-4 .u-image-2 {
    height: 237px;
  }

  .u-section-4 .u-image-3 {
    height: 237px;
  }

  .u-section-4 .u-image-4 {
    height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-4 .u-image-1 {
    height: 272px;
  }

  .u-section-4 .u-image-2 {
    height: 272px;
  }

  .u-section-4 .u-image-3 {
    height: 272px;
  }

  .u-section-4 .u-image-4 {
    height: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 408px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 408px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 408px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 408px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 330px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 330px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 330px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 330px;
  }
} .u-section-5 {
  background-image: url("images/doktor.png");
  background-position: 50% 10.07%;
}

.u-section-5 .u-sheet-1 {
  min-height: 518px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 28px 50px 0 620px;
}

.u-section-5 .u-form-1 {
  height: 442px;
  margin: 9px 0 0 570px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 250px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 70px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-form-1 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 335px;
}

.u-section-6 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 235px;
  min-width: 120px;
  margin: 91px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 43px;
}

.u-section-6 .u-icon-2 {
  height: 43px;
}

.u-section-6 .u-icon-3 {
  height: 43px;
}

.u-section-6 .u-icon-4 {
  height: 43px;
}

.u-section-6 .u-icon-5 {
  height: 43px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  margin: 60px 318px 0 auto;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  margin: -22px auto 0 471px;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  margin: -22px auto 0 299px;
  padding: 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  margin: -22px auto 0 135px;
  padding: 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  font-size: 0.875rem;
  margin: 19px auto 0 408px;
  padding: 0;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  font-size: 0.875rem;
  margin: -44px 396px 0 auto;
  padding: 0;
}

.u-section-6 .u-btn-7 {
  background-image: none;
  font-size: 0.875rem;
  margin: -22px auto 60px 235px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-1 {
    margin-right: 118px;
  }

  .u-section-6 .u-btn-2 {
    border-style: solid;
    margin-left: 271px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 99px;
  }

  .u-section-6 .u-btn-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-left: 208px;
  }

  .u-section-6 .u-btn-6 {
    margin-right: 196px;
  }

  .u-section-6 .u-btn-7 {
    margin-left: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 51px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-7 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }
}